[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
flask-cors = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
click = "*"
flask-rest-paginate = "*"

[dev-packages]

[requires]
python_version = "3.10"
